@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=1474901473');
  src: url('iconfont.eot?t=1474901473#iefix') format('embedded-opentype'),
    url('iconfont.woff?t=1474901473') format('woff'),
    url('iconfont.ttf?t=1474901473') format('truetype'),
    url('iconfont.svg?t=1474901473#iconfont') format('svg');
}